.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
    background-color: #F3F5F8;
    border-radius: 6px;
    flex: 1;
    padding: 10px;
}

.wrapperToday {
    background-color: #726ee4;
}

.wrapperToday .date,
.wrapperToday .btn {
    color: white !important;
}

.btn {
    font-size: 12px;
    background-color: unset;
    padding: 2px;
    outline: none;
    border: none;
    display: none;
}

.wrapper:hover .btn {
    display: contents;
}

.btn:hover,
.btn:focus,
.btn:focus-visible {
    outline: none;
}

.date {
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    color: #728096;
}

.dateToday {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #726ee4;
    color: white !important;
    border-radius: 50%;
}
